.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 916px;
    height: auto; 
}

.about_us_title {
    margin-top: 30px;
    font-family: 'Licorice', cursive ;
    font-size: 48px;
    text-align: center; 
    color: #353535;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.about_us_info {
    margin-top: 30px; 
    width: 100%; 
    max-width: 800px; 
    font-family: 'Tajawal';
    font-size: 14px;
    line-height: 17px;
    color: #353535;
    text-align: left; 
    margin-bottom: 100px;
}


