/* .heading{
    font-family: "Licorice", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    margin-bottom: 30px;
    color: #501C65;
    text-align: center;
    margin-top: 50px;
    line-height: 60px;
    color: #353535;
} */

.info{
 width: 100%;
 
}
.general{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
form {
    width: 800px;
    margin: 0 auto;
    font-family: 'Tajawal' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #353535;
}
label {
    display: block;
    margin-bottom: 8px;
}
input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    background-color: #F5F5F5;
    border: 1px solid #501C65;
    border-radius: 0px;
}
.row {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
}
.row input {
    width: 50%;
}
input:focus {
    background-color:#d2a4e3;
    border-color: #501C65; 
    outline: none; 
    box-shadow: 0 0 5px rgba(80, 28, 101, 0.5); 
}

textarea:focus {
    background-color:#d2a4e3;
    border-color: #501C65;
    outline: none;
    box-shadow: 0 0 5px rgba(80, 28, 101, 0.5);
}
.submit_now {
    width: 122px;
    height: 56px;
    margin-bottom: 40px;
    background-color: #501C65;
    font-family: "Tajawal", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: #ffffff;
    border-radius: 2px;
    box-shadow: 0px 2px 6px #878786;
    border: none;
    text-transform: uppercase;
}

/* book btn */

.submit_now:hover {
    transform: scale(1.05);
    background-color: #a240a5;
}