
header {
    margin: auto;
    width: 1400px;
    width: 100%;
    
}
.nav-header {
    max-width: 1110px;
    width: 100%;
    margin: auto;
    display: flex;    
    justify-content: center;  
}

.logo{
    width: 185px;   
}
.ul-top{
    list-style: none;  
    display: flex;  
    width: 100%;
    justify-content: space-around;
}
button{
    height: 40px;
    width: 80px ;
    
}
