.container-intro {
    width: 900px;
    height: 900px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.textbox-intro {
    text-align: center;
    width: 600px;
    margin-top: 50px;
          
}

.small_images {
    width: 576px;
}
 
.textbox {
    width: 476px;
    /* border: 2px solid #501C65; */
}
  
.container {
    width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid #501C65; */
}
 
.help_container {
    width: 1000px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    /* border: 2px solid #501C65; */
}