body {
    width: 1400px;
    width: 100%;
    margin-top: 100px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    width: 900px;
    border-bottom: 2px solid #501C65;  
    display: flex;
    justify-content: center;
    position: sticky; 
    Top: 0;
    overflow: hidden;
    background: white;
}

nav {
    font-family: "Tajawal", system-ui;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

a:visited {
    color: orange;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #501C65;
    text-transform: uppercase;   
}

.logo {
    width: 125px;
}

.ul-top {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    
}

.imgpool {
    width: 900px;
    height: 640px;
    vertical-align: top;
    margin-top: 50px;
}
.small_images {
    width: 576px;
}
 
.textbox {
    width: 476px;
    /* border: 2px solid #501C65; */
}
 
.title {
    font-family: "Licorice", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    margin-bottom: 30px;
    color: #501C65;
    text-align: center;
}
/* titles */
 
p {
    font-family: "Tajawal", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #878786;
    line-height: 1.5;
}
/* standard text */
 
.book_now {
    width: 122px;
    height: 56px;
    margin: 2%;
    background-color: #501C65;
    font-family: "Tajawal", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: #ffffff;
    border-radius: 2px;
    box-shadow: 0px 2px 6px #878786;
    border: none;
    text-transform: uppercase;
}
/* book btn */
 
.book_now:hover {
    transform: scale(1.1);
    background-color: #a240a5;
}
/* book btn */
 
.book_now:active {
    background-image: url(../images/index/bubbles.gif);
}
/* book btn */
 

